@import "../../theme/variables";

page-profile {

    #username{
        font-family: $text;
        font-weight: 900;
    }
   ion-menu {
        .menu-btn {
            font-family: $text;
            color: color($colors, dark);
            font-weight: 800;
            font-size: 16px;
        }
        ion-icon {
            color: color($colors, secondary);
        }
   }
    .container {
        display: flex;    
        flex-wrap:  wrap;
        margin: 5px;
    }    
    .crop{
        width: 100px;
        height: 100px;
        background-color: color($colors, dark);
        margin: 5px;
        box-shadow: 2px 2px 3px lightgrey;
        position: relative;
        ion-icon {
            position: absolute;
            top: 1px;
            right: 2px;
            font-size: 15px;
            color: white;
        }
    }
    .crop img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .crop video {
        object-fit: contain;
        width: 100%;
        height: 100%;  
    }
}
