@import "../../theme/variables";

page-profile {

    ion-toolbar{
        background: linear-gradient(to left,  color($colors, secondary) ,  color($colors, primary) 65%);
        #user-info {
                background-color:  transparent;
                h4 {
                    font-family: $text;
                    font-weight: 550;
                    font-size: 20px;
                    color: white;
                }
                p {
                    font-family: $text;
                    font-weight: 550;
                    font-size: 15px;
                    color: white;
                    opacity: 0.9;
                }
            }
    }
           
    #username{
        font-family: $title;
    }
   ion-menu {
        .menu-btn {
            font-family: $text;
            color: color($colors, dark);
            font-weight: 800;
            font-size: 16px;
        }
        ion-icon {
            color: color($colors, secondary);
        }
   }
    .container {
        display: flex;    
        flex-wrap:  wrap;
        margin-left: 4px;
        margin-top: 4px;
    }    
    .crop{
        width: calc(33.33% - 4px);
        height: 33.33vw;
        background-color: color($colors, dark);
        margin-right: 4px;
        margin-bottom: 4px;
        box-shadow: 2px 2px 3px lightgrey;
        position: relative;
        ion-icon {
            position: absolute;
            top: 1px;
            right: 2px;
            font-size: 15px;
            color: white;
        }
    }
    .crop img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .crop video {
        object-fit: contain;
        width: 100%;
        height: 100%;  
    }
}
