<ion-header>
  <ion-navbar>
    <ion-title>Ori</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let media of medias">
    <ion-card-title>
      <h1>{{media.title}}</h1>
    </ion-card-title>
    <p>By {{media.username}}</p>
    <img *ngIf="media.media_type == 'image'" [src]="mediaProvider.mediaUrl + media.filename" [alt]="media.title" (click)="openDetailMedia(media.file_id)">
    <ion-row>
      <ion-col>
        <ion-icon name="heart"></ion-icon>
        <p>{{media.numberOfLike}} Like</p>
      </ion-col>
      <ion-col>
        <ion-icon name="text"></ion-icon>
        <p>{{media.numberOfComment}} Comment</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>