@import "../../theme/variables";

page-home {    
}

ion-content {
    margin: 0;
}

ion-searchbar {
	color: rgb(175, 169, 169);
	margin: 0 !important;
	padding: 0;
}

#app-name {
    font-family: $title;    
}

#title {
        font-family: $text;
        color: color($colors, dark);
        font-size: 20px;
        font-weight: 900;
}

#author {
        font-size: 15px;
        color: color($colors, grey1);
        font-weight: 600;
        font-family: $text;
}

ion-row {
    margin: -3px 0;
    ion-icon {
        font-size: 23px;
        color: color($colors, secondary);
        padding-right: 4px;
    }
}

#btn-like, #btn-comment {
    font-family: $text;
    font-size: 15px;
    color: color($colors, dark);
    font-weight: 600;
    text-transform: lowercase;
}
