@import "../../theme/variables";

page-home {
    
}
.toolbar-background-md, .tabs-md .tabbar {
    background: linear-gradient(to left,  color($colors, secondary) ,  color($colors, primary));
}

#app-name{
    font-family: $title;
    
}
#title {
        margin-left: 5px;
        margin-bottom: -5px;
        font-family: $text;
        color: color($colors, dark);
        font-size: 22px;
        font-weight: 900;
    }
#author {
        font-size: 16px;
        color: color($colors, grey1);
        font-weight: 600;
        margin-bottom: 5px;
        margin-left: 5px;
        font-family: $text;
    }
.video-wrapper {
    position: relative;
}
#icon-wrap {
    position: absolute;
    left:50%;
    top: 50%;
    margin: -30px 0 0 -30px;

}
#icon-play{
    
    width: 60px;
    height: 60px;
    opacity: 0.9;
}

ion-row {
    margin: 5px 0;
    ion-icon{
        font-size: 23px;
        color: color($colors, secondary);
        padding-right: 4px;
    }
}

#btn-like, #btn-comment {
    font-family: $text;
    font-size: 16px;
    color: color($colors, dark);
    font-weight: 600;
    text-transform: lowercase;
}
