<ion-header>
  <ion-navbar>
    <ion-title id="app-name">Ori</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let media of medias">
    <ion-card-title>
      <h1 id="title">{{media.title}}</h1>
    </ion-card-title>
    <p id="author">By {{media.username}}</p>
    <img *ngIf="media.media_type == 'image'" [src]="mediaProvider.mediaUrl + media.filename" [alt]="media.title" (click)="openDetailMedia(media.file_id)">
    <div class="video-wrapper">
      <!-- <div id="icon-wrap"><img id="icon-play" *ngIf="media.media_type == 'video'" src="../../assets/icon/play.png"></div> -->

      <video *ngIf="media.media_type == 'video'"  width="100%" height="240px" (click)="openDetailMedia(media.file_id)" controls>
        <source [src]="mediaProvider.mediaUrl + media.filename" type="video/mp4">
      </video>
    </div>
    <ion-row>
      <ion-col>
        <button id="btn-like" ion-button clear small icon-start>
        <ion-icon name="heart"></ion-icon>
        {{media.numberOfLike}} Like
        </button>
      </ion-col>
      <ion-col>
        <button id="btn-comment" ion-button clear small icon-start>
        <ion-icon name="text"></ion-icon>
        {{media.numberOfComment}} Comment
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
