// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #4fc479,
  secondary:  #3a8f6e,
  danger:     #f53d3d,
  light:      #d7e6d8,
  dark:       #404040,
  grey1:      #757575,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-title-text-color: white;
$toolbar-ios-button-color: white;
$toolbar-ios-title-font-weight: 500;
$tabs-ios-tab-color-active: color($colors, secondary);
$tabs-ios-border-color: color($colors, secondary);
$segment-button-ios-text-color: color($colors, dark);
$segment-button-ios-background-color-activated: color($colors, light);
$segment-button-ios-toolbar-button-max-width: 150px;
$tabs-ios-tab-color-active: white;
$tabs-ios-tab-color-inactive: color($colors, dark);
$toolbar-ios-button-font-size: 13px;
$tabs-ios-tab-icon-size: 25px;
$tabs-ios-tab-min-height: 40px;	
		
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-background:  color($colors, primary);
$tabs-md-tab-color-active: white;
$menu-width: calc(100% - 120px);
$toolbar-md-height: 12px;
$toolbar-md-active-color: white;
$tabs-md-tab-min-height: 45px;
$tabs-md-tab-icon-size: 20px;
$tabs-md-tab-text-margin-top: -2px;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Dosis:500|Pacifico');
$title: 'Pacifico', cursive;
$text: 'Dosis', sans-serif;

