<!--
  Generated template for the DetailMediaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail-media</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
        <ion-card-title>{{title}}</ion-card-title>
          <p>{{descrpt}}</p>
          <p>By {{uName}} </p>
        <img *ngIf="type == 'image'" [src]="url" >
        <video *ngIf="type == 'video'" controls>
            <source  [src]="url" type="video/mp4" alt="title">            
            <source  [src]="url" type="video/ogg" alt="title" >           
        </video>
        <ion-row>
            <ion-col>
              <ion-icon type="submit" name="heart" (click)="clickLike()"></ion-icon>
              <p>{{numberOfLike}} Like(s) </p>
              <ion-icon 
                name="arrow-dropdown-circle" 
                *ngIf = "likeClicked"
                (click)="onLikeClick()">
              </ion-icon>
              <ion-icon 
                name="arrow-dropup-circle" 
                *ngIf = "!likeClicked"
                (click)="onLikeClick()">
              </ion-icon>

              <ion-item *ngIf="likeClicked">                
                  <p *ngFor="let likeUser of likeUsers">
                      <ion-card>
                          by {{likeUser}}
                      </ion-card>                    
                  </p>                                  
              </ion-item>
              
            </ion-col>
            <ion-col>
              <ion-icon name="text" (click)="onIconCommentClick()"></ion-icon>
              <p>{{numberOfComment}} Comment(s)</p>

              <ion-icon 
                name="arrow-dropdown-circle" 
                *ngIf = "CommentClicked"
                (click)="onCommentClick()">
              </ion-icon>
              <ion-icon 
                name="arrow-dropup-circle" 
                *ngIf = "!CommentClicked"
                (click)="onCommentClick()">
              </ion-icon>

              <ion-item *ngIf="CommentClicked">                 
                  <ion-item *ngFor="let comment of commentArr; let i = index ">
                      <ion-card>
                          <ion-icon name="close-circle" style="float:right" (click)="callDeleteComment(comment.comment_id)"></ion-icon>
                          <br>{{comment.comment}}<br>by {{commentUsernames[i]}}<br>                          
                      </ion-card>                                        
                  </ion-item>                                
              </ion-item>              
            </ion-col>
          </ion-row>      
    </ion-card>
    <form *ngIf="iconCommentClicked">
      <ion-card>
          <ion-item>
              <ion-textarea [(ngModel)]="createComment.comment" name="comment"></ion-textarea>
          </ion-item>
            <button ion-button type="submit" (click)="callComment()" style="height:30px;width:70px">Post</button>
      </ion-card>
    </form>
</ion-content>
