<ion-header>
  <ion-navbar>
    <ion-title *ngIf="type == 'image'">photo</ion-title>
    <ion-title *ngIf="type == 'video'">video</ion-title>
    <ion-buttons end *ngIf="userId == myId">
      <button ion-button icon-only (click)="deletePost()">
        <ion-icon  name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="userId !== myId" (click)="savePost()">
      <button text-uppercase ion-button strong *ngIf="saveClicked == false">
        save
      </button>
      <button text-uppercase ion-button strong color="dark" *ngIf="saveClicked == true">
        unsave
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1 (click)="savePost()" id="title">{{title}}</h1>
  <img *ngIf="type == 'image'" [src]="url" width="100%" height="auto">
  <video *ngIf="type == 'video'" width="100%" height="250px" autoplay controls>
    <source [src]="url" type="video/mp4" alt="title">
    <source [src]="url" type="video/ogg" alt="title">
  </video>
  <ion-row>
    <ion-col>
      <div class="wrap-like">
        <button id="btn-like" (click)="clickLike()" ion-button clear small icon-start>
        <ion-icon [name]="likePost"></ion-icon>
        </button>
        <p id="txt-like" (click)="openLikeUser()">{{numberOfLike}} likes </p>
      </div>
    </ion-col>
    <ion-col>
      <button id="btn-comment" (click)="onIconCommentClick()" ion-button clear small icon-start>
        <ion-icon name="text"></ion-icon>
        {{numberOfComment}} comments
        </button>
    </ion-col>
    <ion-col center text-center>
      <p id="time">
        {{time| date: 'mediumDate'}}
      </p>
    </ion-col>
  </ion-row>
  <p class="wrap-des">
    <img width="23px" (click)="openOtherUser()" [src]="avatar_url + username + '.png'">
    <span (click)="openOtherUser()" id="author">{{username}}</span>
    <span class="description">{{description}}</span>
  </p>
</ion-content>