@import "../../theme/variables";

page-comment {
    font-family: $text;
    #title {
        margin-top: 2px;
        margin-bottom: 5px;
    }
   ion-list-header {
       border-bottom: solid lightgray 1px;
       #author {
        color: color($colors, dark);
        }
   }
    #delete {
        font-size: 20px;
        color: grey;
    }
    .wrap-cmt {
        font-size: 1.4rem;
        margin-top: -2px;
        #author-cmt {
            font-size: 15px;
            color: color($colors, dark);
            font-weight: 600; 
        }
    }
  
    .submit-btn {
        width: 30px;
        height: 23px;
        margin-top: 15px;
    }
    .new-cmt {
        width: 80%;
    }
}
